<div class="panel panel-default">
    <div class="pull-left">
        <div class="panel-heading">
            <h3 class="panel-title">Contacts</h3>
        </div>
    </div>
    <span class="pull-right">
        <div class="col-xs-12">
            <a [routerLink]="['new']" class="btn btn-success">Add Contact</a>
        </div>
    </span>
    <div class="row"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="list-group">
  <cms-contact-item 
  *ngFor="let contact of contacts" 
  [contact]="contact">
</cms-contact-item>

            </div>
        </div>
    </div>
</div>

