<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Contacts</h3>
        <div class="input-group pull-left col-xs-7">
            <input 
              #searchBox 
              (keyup)="search(searchBox.value)" 
              class="form-control" 
              placeholder="Enter a search value">
          </div>
    </div>

    <!-- Button to add new contact, placed on the right side -->
    <div class="col-xs-12 text-right">
        <a [routerLink]="['new']" class="btn btn-success">Add Contact</a>
    </div>

    <!-- List of contacts -->
    <div class="row">
        <div class="col-xs-12">
            <div class="list-group">
                <cms-contact-item 
                *ngFor="let contact of contacts | contactsFilter:term"
                    [contact]="contact"
                    cdkDrag
                    [cdkDragData]="contact"
                    [cdkDragDisabled]="false">
                </cms-contact-item>
            </div>
        </div>
    </div>
</div>


